@import "tailwindcss";

@theme {
  --color-dark-100: #0a0a0a;
  --color-dark-200: #1A1A1A;
  --color-dark-300: #262626;
  --color-dark-400: #404040;
  --color-dark-700: #4D4D4D;
}

:root {
  --background: #ffffff;
  --text: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}
